<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have only a few years of experience as a software engineer but I make up 
            for it with a drive to challenge myself constantly and step outside my comfort
            zone to work on relevant projects. I am well versed in the NERD stack, to which
            I have recourse to, for most of my full stack projects but I am not married to it.
            I am learning other frameworks (Python Django and Ruby on Rails), which I intend to 
            use on my other projects or to scale my existing ones.
        </p>
        <p>
           I am proficient in Java, C++ and C as well. I am polishing on my Python skills, which 
           will be helpful for the backend of a project I am currently working on and to improve 
           the Natural Language Processing algorithm I am using to categorize news articles in one
           of my websites.
        </p> 
        <p>
           <a href="https://drive.google.com/file/d/1s_9RN8tv6ylsjueIMX5Q0iE1Soe-tM0k/view?usp=sharing">See my resume </a> for more academic and career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Graduated from New York University with a dual degree in Electrical and Computer Engineering.
    			</li>
          <li>
            Graduated from Fullstack Academy of Code, a Software Engineering Immersive bootcamp
          <li>
            Worked as a Teaching Assistant for three years at NYU. Tutored Math and Comp Sci Courses.
    			<li>
            Successfully implemented an <a href="https://github.com/1906-cs-ness-ninjas/new-news/tree/master/server/scrapers">algorithm capable of scraping articles</a> from select news websites, using Javascript. 
            Will deploy it as a Public API soon.
    			</li>
    			<li>
            Worked as a Research Assistant at NYU Center of Urban Science.
    			</li>
          <li>
            Worked as an SDE Intern at Ceridian HCM. Built web applications in the .NET framework.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
