<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently a Software Deveoper at <a href="https://www.heady.io/about/">Heady</a>, a mobile agency that works with
            Fortune 500 companies. In less than a year working there, I have contributed to several complex, distributed systems like a 
            raffle feature for one of our ecommerce clients, new payment platform integration and support for a wishlist, all of which have
            met the product owners' high expectations. 
        </p>
        <p> 
           I am proficient in the MERN stack (MongoDB, Express, React and Node) and Laravel PHP. To reinforce my coding skills, I also contribute to open source projects
           and write for FreeCodeCamp (I believe the best way to learn is to teach). I have also dabbled in other frameworks like PHP Laravel and ASP .NET.
        </p> 
        <p>
           <a href="https://drive.google.com/file/d/1D_5WS-86JGrOHuZAdeh6Gv6SaacfNhtE/view?usp=sharing">See my resume </a> for more academic and career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Software Developer at Heady LLC, New York
          </li>
    			<li>
            2 years of relevant experience in Software Development
    			</li>
          <li>
            Active contributor to open source projects, <a href="https://www.freecodecamp.org/news/author/girish/">FreeCodeCamp</a> and <a href="https://medium.com/make-it-heady/tagged/engineering">Heady's Medium publication</a>
          </li>
          <li>
            Graduated from FullStack Academy of Code in 2019, a Software Engineering Immersive bootcamp
          </li>
    			<li>
            Graduated from New York University with a dual degree in Electrical and Computer Engineering
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
