<section class="tout" id="projects">
    <div class="container">
      <div class="row">
					<div class="col-lg-12 text-center">
							<h2>Projects</h2>
							<hr />
					</div>
      </div>
      <div class="container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/eyZqJ11_Rkk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        	<h2>New News</h2>
        	<p>
						New News is a website that consolidates all of the user's favorite news websites in one site. The user favorites
						a website by using a chrome extension. The algorithm scrapes latest articles from the favorited websites. The articles
						are categorized under five broad topics. The articles are rendered in a unified view and can filtered based on the topics.
						The website also recommends articles based on the preferred topics. 
					</p>
					<p>
						Me and my teammates are currently working on improving
						the recommendation engine. We are considering neural networks and Restricted Boltzmann Machines (RBM's).
					</p>
			</div>    
			<div class="container">
				<img class="project-image" width="560" height="315" src="/img/crypto.png" float="left">
				<h2>CryptoMind</h2>
					<p>
						CryptoMind is a full stack application that allows the user to invest in a fictional cryptocurrency recreationally.
						The incentive behind this project was to familiarize myself with blockchain concepts such as chain validation, proof of
						work, difficulty and the nonce value by applying those in blockchain objects in the backend in a test-driven manner.
					</p>
			<p>
				The site is not fully functional and is work under progress. The source code can be found <a href="https://github.com/ramloul24/cryptomind">here</a>.
			</p>
			</div>
			<div class="container">
			<img class="project-image" width="560" height="315" src="/img/reducks.gif" float="left">
			<h2>Reducks</h2>
				<p>
					Reducks is <a href="https://shielded-sands-80926.herokuapp.com">an ecommerce website</a> that simulates online purchases. The project is a fully fledged full stack application.
					The front end technologies are React and Redux. The back end was built using Express and Node. It was a team initiative with
					a total of 4 teammates including me. We communicated over Slack, collaborated over GitHub and organized tasks using Trello.
				</p>
				<p>
					The source code can be found <a href="https://github.com/reducks-team/grace-shopper">here</a>.
				</p>
		</div>
       </div>
</section>
